// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.push-right {
  padding: 25px;
}
.page-header {
  padding-left: 40px;
  font-size: 3rem;
}

.card-add {
  margin-bottom: 15px
}

.pagination a {
  margin-right: 5px
}
.pagination em {
  margin-right: 5px
}
